{% extends './layouts/base.html' %}

{% block content %}
<div class="div-title">
    <h1 class="title d-flex justify-content-center">Olá administrador</h1>
</div>
<hr>
<a href="/initadm"><button type="button" class="btn btn-outline-dark ml-2 col-2">Voltar</button></a>
<hr>

<div class="box">
    <div class="tarja">
        <h4>Encontrar motos</h4>
    </div>        
<br>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <form action="">
            <div class="col-6">
                <label>Marca</label>
                <select class="form-control" id="state" class="form-control" data-bind="options: userState">
                   
                    <option value="">Selecione</option>
                    <option value="">Agrale</option>
                    <option value="">Honda</option>
                    <option value="">Kawasaki</option>
                    <option value="">KTM</option>
                    <option value="">Suzuki</option>
                    <option value="">Yamaha</option>
                </select>
            </div>
        
            <div class="col-6">
                <label>Modelo</label>
                <select class="form-control" id="state" class="form-control" data-bind="options: userState">
                   
                    <option value="">Selecione</option>
                    <option value="">Modelo 1</option>
                    <option value="">Modelo 2</option>
                    <option value="">Modelo 3</option>
                    <option value="">Modelo 4</option>
                    <option value="">Modelo 5</option>
                    <option value="">Modelo 6</option>
                </select>
            </div>
        
            <div class="col-6">
                <label>Ano</label>
                <select class="form-control" id="state" class="form-control" data-bind="options: userState">
                   
                    <option value="">Selecione</option>
                    <option value="">2020</option>
                    <option value="">2019</option>
                    <option value="">2018</option>
                    <option value="">2017</option>
                    <option value="">2016</option>
                    <option value="">1015</option>
                    <option value="">1014</option>
                    <option value="">1013</option>
                    <option value="">1012</option>
                    <option value="">1011</option>
                </select>
            </div>
        
            <div class="col-6">
                <label>Faixa de preços</label>
                <select class="form-control" id="state" class="form-control" data-bind="options: userState">
                   
                    <option value="">Selecione</option>
                    <option value="">R$ 1.000,00 à 2.000,00</option>
                    <option value="">R$ 2.000,00 à 4.000,00</option>
                    <option value="">R$ 4.000,00 à 8.000,00</option>
                    <option value="">R$ 8.000,00 à 16.000,00</option>
                    <option value="">R$ 16.000,00 à 22.000,00</option>
                    <option value="">R$ 22.000,00 à 30.000,00</option>
                    <option value="">Acima de R$ 30.000,00</option>
                </select>
            </div>
<br>
<br>
        <div class="search" style="width: 270px;">
            <a href="#" class="orange btn btn-success d-flex justify-content-center">Buscar</a>
        </div>
        </form>
      </div>
      <div class="col-sm">
        <table class="table table-striped col-6 float-right">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Ano</th>
                <th scope="col">Preço</th>
                <th scope="col">Remover</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Nome x</td>
                <td>Marca x</td>
                <td>Modelo x</td>
                <td>Ano x</td>
                <td>Preço x</td>
                <td><button class="btn btn-danger">Remover</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Nome x</td>
                <td>Marca x</td>
                <td>Modelo x</td>
                <td>Ano x</td>
                <td>Preço x</td>
                <td><button class="btn btn-danger">Remover</button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Nome x</td>
                <td>Marca x</td>
                <td>Modelo x</td>
                <td>Ano x</td>
                <td>Preço x</td>
                <td><button class="btn btn-danger">Remover</button></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Nome x</td>
                <td>Marca x</td>
                <td>Modelo x</td>
                <td>Ano x</td>
                <td>Preço x</td>
                <td><button class="btn btn-danger">Remover</button></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Nome x</td>
                <td>Marca x</td>
                <td>Modelo x</td>
                <td>Ano x</td>
                <td>Preço x</td>
                <td><button class="btn btn-danger">Remover</button></td>
              </tr>
             
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<hr>


<div class="box">
  <div class="tarja">
      <h4>Encontrar acessórios</h4>
  </div>        
<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <form action="">
          <div class="col-6">
              <label>Marca</label>
              <select class="form-control" id="state" class="form-control" data-bind="options: userState">
                 
                  <option value="">Selecione</option>
                  <option value="">Marca 1</option>
                  <option value="">Marca 2</option>
                  <option value="">Marca 3</option>
                  <option value="">Marca 4</option>
                  <option value="">Marca 5</option>
                  <option value="">Marca 6</option>
              </select>
          </div>
      
          <div class="col-6">
              <label>Modelo</label>
              <select class="form-control" id="state" class="form-control" data-bind="options: userState">
                 
                  <option value="">Selecione</option>
                  <option value="">Modelo 1</option>
                  <option value="">Modelo 2</option>
                  <option value="">Modelo 3</option>
                  <option value="">Modelo 4</option>
                  <option value="">Modelo 5</option>
                  <option value="">Modelo 6</option>
              </select>
          </div>
  
          <div class="col-6">
              <label>Faixa de preços</label>
              <select class="form-control" id="state" class="form-control" data-bind="options: userState">
                 
                  <option value="">Selecione</option>
                  <option value="">R$ 0,00 à 10,00</option>
                  <option value="">R$ 10,00 à 50,00</option>
                  <option value="">R$ 50,00 à 100,00</option>
                  <option value="">R$ 100,00 à 500,00</option>
                  <option value="">R$ 500,00 à 1.000,00</option>
                  <option value="">R$ 1.000,00 à 2.000,00</option>
                  <option value="">Acima de R$ 2.000,00</option>
              </select>
          </div>
<br>
<br>
      <div class="search" style="width: 270px;">
          <a href="#" class="orange-ac btn btn-success d-flex justify-content-center">Buscar</a>
      </div>
      </form>
    </div>
    <div class="col-sm">
      <table class="table table-striped col-6 float-right">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Preço</th>
              <th scope="col">Remover</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Nome x</td>
              <td>Marca x</td>
              <td>Modelo x</td>
              <td>Preço x</td>
              <td><button class="btn btn-danger">Remover</button></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Nome x</td>
              <td>Marca x</td>
              <td>Modelo x</td>
              <td>Preço x</td>
              <td><button class="btn btn-danger">Remover</button></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Nome x</td>
              <td>Marca x</td>
              <td>Modelo x</td>
              <td>Preço x</td>
              <td><button class="btn btn-danger">Remover</button></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Nome x</td>
              <td>Marca x</td>
              <td>Modelo x</td>
              <td>Preço x</td>
              <td><button class="btn btn-danger">Remover</button></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Nome x</td>
              <td>Marca x</td>
              <td>Modelo x</td>
              <td>Preço x</td>
              <td><button class="btn btn-danger">Remover</button></td>
            </tr>
           
          </tbody>
        </table>
    </div>
  </div>
</div>




</div>
{% endblock %}

{% block title %}
  
{% endblock %}

{% block script %}
<script src="/js/adm.js" charset="utf-8"></script>
<link rel="stylesheet" href="/styles/adm.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://knockoutjs.com/downloads/knockout-3.5.1.js"></script>
{% endblock %}