{% extends './layouts/base.html' %}

{% block content %}
<div class="div-title">
    <h1 class="title d-flex justify-content-center">Olá administrador</h1>
</div>

<br>

<nav class="adm-menu navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="items-menu collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/adm">Encontrar produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clients">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inputproducts">Cadastrar produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inputclients">Cadastrar clientes</a>
        </li>
      </ul>
    </div>
  </nav>

{% endblock %}

{% block title %}
  
{% endblock %}

{% block script %}
<script src="/js/initadm.js" charset="utf-8"></script>
<link rel="stylesheet" href="/styles/initadm.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://knockoutjs.com/downloads/knockout-3.5.1.js"></script>
{% endblock %}