nav.navbar {
    background-color: black;
    height: 100px;
}

div ul li a.nav-link{
    color: white;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

ul.navbar-nav {
    margin-left: 415px;
}
