nav.navbar {
    background-color: black;
    height: 150px;
}

div ul li a.nav-link{
    color: white;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

footer{
    background-color: black;
}

footer h5{
    color: white;
}

footer p {
    color: white;
}
