h1.title {
    color: black;
    font-family: 'Arvo', serif;
}

div.buttons a.orange{
    color: black;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

div.buttons a.btn {
    color: black;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

div.row {
    margin-left: 25px;
}

div.card-body h5.card-title {
    font-family: 'Arvo', serif;
    color: #FF6600;
}

div.card-body h5.card-price {
    font-family: 'Arvo', serif;
    color: green;
}

h5.total {
    color: green;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Arvo', serif;
}

a.finish{
    color: black;
    font-weight: bold;
    font-family: 'Arvo', serif;
    font-size: 20px;
}

h5.mb-3 {
    color: black;
    font-weight: bold;
    font-family: 'Arvo', serif;
    font-size: 20px;
}

div.card {
    background-color: rgb(187, 187, 187);
    border: 1px solid black;
}

div.input-group {
    margin-left: 40px;
}

p.remember-password {
    margin-left: 10px;
    margin-top: 10px;
}