div.div-title {
    background-color: yellow;
    height: 60px;
    border-radius: 10px;
    font-family: 'Arvo', serif;
}

form input.search{
    width: 300px;
}

div.tarja{
    background-color: #005a92;
    height: 70px;
    border-radius: 10px;
}

div.tarja h4{
    color: white;
    text-align: center;
    height: 70px;
    font-size: 30px;
    padding-top: 18px;
    font-family: 'Arvo', serif;
}