div.card-body a{
    background-color: #FF6600;
    color: black;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

h1.title {
    color: black;
    font-family: 'Arvo', serif;
}

div.products{
    margin-left: 80px;
}

div.card {
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
}

div.card-body h5 {
    color: black;
    font-family: 'Arvo', serif;
}

div.card-body p {
    color: green;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Arvo', serif;
}

div.card-body a {
    border-radius: 10px;
    font-family: 'Arvo', serif;
}