h1.title {
    color: black;
    font-family: 'Arvo', serif;
}

h3.price {
    color: black;
    font-family: 'Arvo', serif;
    color: green;
    font-weight: bold;
}

h4.description-title {
    color: black;
    font-family: 'Arvo', serif;
    font-weight: bold;
}

p.p {
    color: black;
}

a.btn {
    color: black;
    font-weight: bold;
    font-family: 'Arvo', serif;
    font-size: 20px;
    width: 100%;
}